.Home {
        text-align: center;
        padding: 35px;
        background-image: url('../../../Assets/Images/dreamVac2.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        position: relative;
        padding-bottom: 37%;
    }

.DescriptionSite {
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-family: 'Fredoka One', cursive;
    color: #FFFFFF;
    background-color: antiquewhite;
    padding: 25px;
    border: 5px solid #08263a;
    border-radius: 9px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #00000097;
    background: rgb(0,228,255);
    background: radial-gradient(circle, rgba(0,228,255,0.4821564749385534) 0%, rgba(49, 193, 215, 0.875) 76%);
    color: #000000;
    width: 35%;
    height: 28%;
    position: fixed;
    top: 35%;
    transform: translate(50% , 0%);
    right: 50%;
    display: inline-block;
    overflow: auto;
    word-break: break-word;

}
.DescHeadline {
    font-size: 75px;
    color: #FFFFFF;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #a900ff, 0 0 20px #287ca7, 0 0 30px #18f3ff, 0 0 40px #1c18ff, 0 0 55px #18ffce, 0 0 75px #8818ff;
    font-family: 'Monoton', cursive;
}
.Home img {
    margin: 15px; 
    border-radius: 3%;
    position: relative;
}
