.UpdateVacation {
    padding: 15px;
    border: 1px solid black;
    text-align: center;
    position: fixed;
    top: 15%;
    transform: translate(50% , 0%);
    right: 50%;
    display: inline-block;
    padding: 15px;
    border: 5px solid #08263a;
    border-radius: 40px;
    background: rgb(196,196,196);
    background: linear-gradient(56deg, rgba(196,196,196,1) 50%, rgb(231, 229, 229) 50%, rgb(174, 169, 169) 50%);

}
.UpdateVacation > form {
	width: 350px;
}

.UpdateVacation input {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 20px 0;
}

.UpdateVacation button {
    width: 100%;
    margin: 10px 0 20px 0;
    
}

.UpdateVacation span {
    color: red;
    margin-left: 41px;
    padding-left: 37px;
    margin-top: -82px;
    position: absolute;
}